<article class="article">
    <img src="./images/icon-snappy-process.svg" alt="Snappy process logo" class="article__icon">
    <h3 class="article__header">Snappy Process</h3>
    <p class="article__context">
      Our application process can be completed in minutes, not hours. Don’t get 
      stuck filling in tedious forms.
    </p>
</article>
<article class="article">
    <img src="./images/icon-affordable-prices.svg" alt="Affordable prices" class="article__icon">
    <h3 class="article__header">Affordable Prices</h3>
    <p class="article__context">
      We don’t want you worrying about high monthly costs. Our prices may be low, 
      but we still offer the best coverage possible.
    </p>
  </article>
  <article class="article">
    <img src="./images/icon-people-first.svg" alt="Affordable prices" class="article__icon">
    <h3 class="article__header">People First</h3>
    <p class="article__context">
      Our plans aren’t full of conditions and clauses to prevent payouts. We make 
      sure you’re covered when you need it.
    </p>
  </article>