<footer class="footer">
    <section class="brands">
      <img src="./images/logo.svg" alt="Brand logo">
      <ul class="list list-inline">
        <li class="list__item">
          <button class="btn btn-logo btn-logo-fb"></button>
        </li>
        <li class="list__item">
          <button class="btn btn-logo btn-logo-twitter"></button>
        </li>
        <li class="list__item">
          <button class="btn btn-logo btn-logo-pinterest"></button>
        </li>
        <li class="list__item">
          <button class="btn btn-logo btn-logo-instagram"></button>
        </li>
      </ul>
    </section>
    <div class="footer__lists">
      <div class="list-container">
        <span class="list-title">Our company</span>
        <ul class="list">
          <li class="list__item">
            <a class="btn btn-link">How we work</a>
          </li>
          <li class="list__item">
            <a class="btn btn-link">Why Insure?</a>
          </li>
          <li class="list__item">
            <a class="btn btn-link">View plans</a>
          </li>
          <li class="list__item">
            <a class="btn btn-link">Reviews</a>
          </li>
        </ul>
      </div>
      <div class="list-container">
        <span class="list-title">Help me</span>
        <ul class="list">
          <li class="list__item">
            <a class="btn btn-link">FAQ</a>
          </li>
          <li class="list__item">
            <a class="btn btn-link">Terms of use</a>
          </li>
          <li class="list__item">
            <a class="btn btn-link">Privacy policy</a>
          </li>
          <li class="list__item">
            <a class="btn btn-link">Cookies</a>
          </li>
        </ul>
      </div>
      <div class="list-container">
        <span class="list-title">Contact</span>
        <ul class="list">
          <li class="list__item">
            <a class="btn btn-link">Sales</a>
          </li>
          <li class="list__item">
            <a class="btn btn-link">Support</a>
          </li>
          <li class="list__item">
            <a class="btn btn-link">Live chat</a>
          </li>
        </ul>
      </div>
      <div class="list-container">
        <span class="list-title">Others</span>
        <ul class="list">
          <li class="list__item">
            <a class="btn btn-link">Careers</a>
          </li>
          <li class="list__item">
            <a class="btn btn-link">Press</a>
          </li>
          <li class="list__item">
            <a class="btn btn-link">Licenses</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>