<header class="header">
    <nav class="nav">
      <img src="./images/logo.svg" alt="Brand logo">
      <button class="nav__burger"></button>
    </nav>
    <section class="nav-modal">
      <ul>
        <li>How we work</li>
        <li>Blog</li>
        <li>Account</li>
        <li>View plans</li>
      </ul>
    </section>
    <section class="header-intro">
      <img src="./images/image-intro-mobile.jpg" alt="An intro image">
    </section>
</header>

<!-- v2 -->
<!-- <header class="header">
  <nav class="nav">
    <img src="./images/logo.svg" alt="Brand logo">
    <button class="nav__burger"></button>
    <ul class="list list-inline">
      <li class="list__item">
        <button class="btn btn-nav">How we work</button>
      </li>
      <li class="list__item">
        <button class="btn btn-nav">Blog</button>
      </li>
      <li class="list__item">
        <button class="btn btn-nav">Account</button>
      </li>
      <li class="list__item">
        <button class="btn btn-nav btn-border btn-hover-white">View Plans</button>
      </li>
    </ul>
  </nav>
  <section class="nav-modal">
    <ul>
      <li>How we work</li>
      <li>Blog</li>
      <li>Account</li>
      <li>View plans</li>
    </ul>
  </section>
  <section class="header-intro">
    <article class="block block-heading block-bg block-tl-pattern block-br-pattern">
      <h1>Humanizing your insurance.</h1>
      <p>Get your life insurance coverage easier and faster. We blend our expertise 
        and technology to help you find the plan that’s right for you. Ensure you 
        and your loved ones are protected.</p>
      <button class="btn btn-border">View plans</button>
    </article>
    <img src="./images/image-intro-mobile.jpg" alt="An intro image">
  </section>
</header> -->

<header class="header">
  <nav class="nav">
    <img src="./images/logo.svg" alt="Brand logo">
    <button class="nav__burger"></button>
    <ul class="list list-inline">
      <li class="list__item">
        <button class="btn btn-nav">How we work</button>
      </li>
      <li class="list__item">
        <button class="btn btn-nav">Blog</button>
      </li>
      <li class="list__item">
        <button class="btn btn-nav">Account</button>
      </li>
      <li class="list__item">
        <button class="btn btn-nav btn-border btn-hover-white">View Plans</button>
      </li>
    </ul>
  </nav>
  <section class="nav-modal">
    <ul>
      <li>How we work</li>
      <li>Blog</li>
      <li>Account</li>
      <li>View plans</li>
    </ul>
  </section>
  <section class="header-intro">
    <article class="block block-heading block-bg block-tl-pattern block-br-pattern">
      <h1>Humanizing your insurance.</h1>
      <p>Get your life insurance coverage easier and faster. We blend our expertise 
        and technology to help you find the plan that’s right for you. Ensure you 
        and your loved ones are protected.</p>
      <button class="btn btn-border">View plans</button>
    </article>
    <img src="./images/image-intro-mobile.jpg" alt="An intro image">
  </section>
</header>